{% extends "squelette.html" %}
{% load thumbnail %}
{% load humanize %}

{% block content %}

<div id="forum">
	<h1>[sujet] {{ sujet.titre }}</h1>
	<a href="/forum/">&#8592; Retour aux sujets</a>
	{% for msg in messages %}
	
		<div id="message">
			
			<div id="infos">
				<a href="/profil/user/{{ msg.auteur.id_user }}">{{ msg.auteur.user.username }}</a>
				<div id="avatar">
					{% if msg.auteur.img %}
				
						{% thumbnail msg.auteur.img 140x140 crop=True upscale as thumb %}	
						<img src="{{thumb.url}}" />
					
					{% else %}
		
						<img src='/static/img/profil_default.png'/>
			
					{% endif %}
					{% if msg.auteur.user.is_staff %}
						<div id="admin">Administrateur</div>
					{% endif %}
				</div>
			</div>
			
			<div id="contenu">
				<div id="infos_msg">
					<a href="/forum/message/{{ msg.id_message }}">Message publié par {{ msg.auteur.user.username }} dans {{ msg.sujet.titre }} {{msg.date_creation|naturaltime}} ({{ msg.date_creation }})</a>
				</div>
				<p>{{ msg.contenu|linebreaks }}</p>
				
			</div>
			{% if admin == True and msg != messages.0 %}
				<div id="bouton_suppr"><a href="/forum/suppr-message/{{ msg.id_message }}/"><img src="/static/img/suppr.png"/></a></div>
			{% endif %}
		</div>
		
	{% endfor %}
	<div id="bouton_repondre"><a href="/forum/reponse/{{ sujet.id_topic }}">Répondre</a></div>
</div>

{% endblock %}
