{% extends "squelette.html" %}

{% block article %}

<h2>Le tournoi</h2>
					
<p><b>
Le TFJM est une compétition par équipe de 4 à 6 lycéens. Chaque équipe est accompagnée d'un ou deux encadrants, des professeurs de mathématiques, des doctorants ou encore d'anciens participants. 
A partir de 2015, le TFJM se composera d'un tournois régional, qui aura lieu le temps d'un week-end fin mars, puis les meilleures équipes de chaque région seront invitées à participer à la finale nationale en mai.
</b></p>

					<center>
		<iframe title="YouTube video player" class="youtube-player" type="text/html" src="https://www.youtube.com/embed/CmQBIh538s4?rel=0&amp;wmode=opaque" frameborder="0" allowFullScreen="true" width="640" height="360"></iframe>
                  </center>
				  <h3> Tournoi régional </h3>
<em> Phase I </em>
<h4> Les problèmes </h4>
<p class="information">
 
  Les élèves travaillent sur une série de problèmes mathématiques qui seront publiés mi-janvier. 
  Il s'agit de problèmes difficiles qui touchent plusieurs domaines du vaste monde des mathématiques.
   Pour plus d'informations concernant les problèmes, visitez la rubrique <a href="https://sites.google.com/a/tfjm.org/www/problemes" id="id_1___" target="_blank">problèmes</a>
  Pendant les deux mois précédant la rencontre, les équipes travaillent avec leurs encadrants et cherchent des solutions à ces problèmes.
  Certaines connaissances techniques spécifiques dépassant les programmes de mathématiques au lycée sont nécessaires
  pour avancer dans la recherche des solutions. 
  Les encadrants peuvent alors enseigner ces connaissances aux élèves à leur demande.
  
 </p>
<h4> Rédaction et envoi des solutions </h4>
<p class="information">
  Lorsque la date limite d'envoi des solutions approche, les élèves entament la phase de rédaction : 
  il s'agit de mettre par écrit tout ce qui a été trouvé et de façon très claire. 
  C'est un travail assez long qui nécessite de nombreuses relectures. 
  Les élèves font attention à ce que toute source, quelle que soit sa nature, électronique ou matérielle (livres, articles...) directement reliée aux démonstrations soit citée. 
  Ces solutions écrites doivent être envoyées par mail aux organisateurs avant le début du tournoi régional. 
  
 </p>
<em> Phase II </em>
<p class="information">
   Les équipes se rencontreront lors d'un week-end fin mars (voir <a href="http://www.tfjm.org/Inscription" id="id_2___" target="_blank">inscriptions</a> pour les dates).
  Pendant ce week-end, à deux reprises elles seront confrontées à un jury par poules de 3 ou 4 équipes.
  La composition des poules ainsi que les problèmes présentés auront préalablement été tirés au sort. 
 </p>
<h4> Les rôles </h4>
<p class="information">
  Lorsque les équipes se rencontrent, chaque phase se déroule sous forme d’un débat autour d'un des problèmes proposés. Chaque équipe joue successivement les roles suivants:
  </p><ul class="liste">
<li>Le <b>défenseur</b> présente les idées et résultats principaux obtenus par l'équipe.</li>
<li>L’<b>opposant </b>fournit une analyse critique de la solution et de la présentation orale du défenseur, 
    y indiquant les erreurs ou imprécisions, aussi bien que ses points forts.</li>
<li>Le <b>rapporteur</b> évalue le débat entre le défenseur et l’opposant, en indiquant les aspects positifs et 
    négatifs de la prestation de chacun. Une tâche importante du rapporteur est de déceler un manquement de l’opposant : 
    soit qu’il ait commis une erreur, soit qu’il n’ait pas indiqué une erreur du défenseur.</li>
<li>L’<b>observateur</b> s’exprime s’il a une remarque utile à faire, par exemple lorsqu’un élément important n’a pas été évoqué. 
    Il n’a pas vocation à participer au débat.</li>
</ul>
<p></p>
<p class="information">
 
  Avant chaque tour, l’opposant, le rapporteur et l’observateur rendent au jury une note de synthèse, d'une à deux pages, sur la solution du défenseur, 
  indiquant des erreurs qu’ils ont pu déceler. Les auteurs doivent aussi fournir une évaluation critique du travail, 
  attirant l’attention du jury sur les points positifs et négatifs. Ils peuvent enfin indiquer une appréciation globale de la solution.
  <br />
  A la fin de la rencontre, les résultats sont annoncés.  
  Les équipes reçoivent des cadeaux et des diplômes. Les meilleures équipes (en général deux ou trois suivant le nombre d'équipes ayant participé au tournoi régional) sont qualifiées pour partir au tournoi national.
 
 
 </p><h3> Tournoi national</h3>
<p class="information">
 Le tournoi national se déroule comme le tournoi régional. Il aura lieu à l'École polytechnique et à l'ENSTA-Paristech, à Palaiseau.
<h3>FAQ</h3>
<h4>Y-a-t-il des prérequis à avoir ?</h4>
<p>
La plupart des problèmes peuvent être abordés avec des connaissances vu au lycée. 
Cependant les questions les plus difficiles peuvent nécessiter des outils <i>post-bac</i>. 
L'acquisition de nouvelles connaissances par les participants pour résoudre leurs problèmes fait parti de l'esprit du tournoi.
De plus, les encadrants sont présents pour aider les élèves à acquérir les connaissances nécessaires dans les cas <i>les plus difficiles</i>.
</p>
<h4>Ai-je le droit de me faire aider ?</h4>
<p>
Oui. Il est tout à fait autorisé d'obtenir de l'aide de la part des encadrants. C'est d'ailleurs le rôle même des encadrants: 
il s'agit en particulier d'apporter aux participants les connaissances mathématiques nécessaires lorsque ceux-ci le demandent. 
Cependant, il est important que les notions et les résultats utilisés dans les solutions soient entièrement maîtrisés par les participants.
Le jury peut interroger les participants sur ces notions.
</p>
<h4>Est-il nécessaire de traiter tous les problèmes ?</h4>
<p>
Non, lors des tirages au sort, il est possible de refuser jusqu'à <b>P-5</b> problèmes sans pénalité, 
où P est le nombre total de problèmes (voir règlement). 
Il n'est donc pas nécessaire d'envoyer de solution écrite pour chacun des problèmes. 
</p>
<h4>Je ne suis pas au lycée, puis-je quand même participer ?</h4>
<p>
A priori non, le tournoi est réservé aux lycéens afin de préserver une homogénéité de niveau. 
Si vous êtes collégien, vous pourrez participer aux éditions suivantes et on espère vous y retrouver.

Néanmoins, si vous jugez votre situation particulière, n'hésitez pas à nous contacter par email au <a href="mailto:secretariat%40tfjm.org" id="id_1___" target="_blank">secretariat@tfjm.org</a>, ou 
sur notre page <a href="https://www.facebook.com/TFJM2" id="id_2___" target="_blank">facebook</a>. 

</p>
<h4>Peut-on former une équipe avec des personnes qui ne sont pas dans le même lycée ?</h4>
<p>
Oui, c'est tout à fait possible. En revanche nous vous conseillons de conserver dans la mesure du possible une certaine
  proximité géographique pour de bonnes conditions de travail.
</p>
<h4>Je n'arrive pas à former une équipe, comment faire ?</h4>
<p>
Il est nécessaire de constituer une équipe de 4 à 6 personnes pour participer au tournoi.Il n'est pas nécessaire d'appartenir au même lycée.  
Si vous cherchez d'autres personnes pour former une équipe, parlez en autour de vous (amis, professeur de maths). 
Si vous ne trouvez pas, contactez nous, nous connaissons peut-être des gens intéressés dans votre région.
</p>
<h4>Comment rédiger les solutions?</h4>
<p>
La rédaction de solutions à des problèmes mathématiques est parfois très difficile à réaliser clairement et rapidement. 
C'est pourquoi nous vous conseillons de le rédiger en LaTeX. Toutefois, l'usage de LaTeX pour rédiger les solutions n'est bien entendu pas obligatoire. 
Cependant nous vous le conseillons vivement pour <em>sa clarté, sa précision et son gain de temps</em>.
Si vous n'avez jamais utilisé LaTeX, le logiciel LyX (<a href="http://www.lyx.org/" id="id_3___" target="_blank">http://www.lyx.org/</a>)
permet de produire des documents sans connaissance préalable. 
On pourra par ailleurs consulter les cours de <a href="http://www.math.u-psud.fr/%7ebernardofpc/latex.php" id="id_4___" target="_blank">Bernardo da Costa</a> ou 
encore le <a href="http://fr.wikibooks.org/wiki/LaTeX" id="id_5___" target="_blank">WikiLivre</a> qui résume les bases de LaTeX.
</p>
<h4>Puis-je m'appuyer sur des livres et des articles ?</h4>
<p>
Oui. A l'instar d'un véritable travail de recherche, on pourra s'appuyer sur des travaux existants, en veillant toutefois à les citer <b>précisément</b> dans les solutions aux problèmes. 
Les participants doivent être en mesure de fournir une copie (numérique) des sources utilisées, si le jury le demande. 
Tout manquement sera considéré comme du plagiat et <b>sévèrement</b> sanctionné.
</p>

{% endblock %}

{% block aside %}
<iframe width="300" height="590" scrolling="no" frameborder="0" id="906614246" name="906614246" allowtransparency="true" class="igm" src="https://mj89sp3sau2k7lj1eg3k40hkeppguj6j-a-sites-opensocial.googleusercontent.com/gadgets/ifr?url=http://www.gstatic.com/sites-gadgets/iframe/iframe.xml&amp;container=enterprise&amp;view=default&amp;lang=fr&amp;country=ALL&amp;sanitize=0&amp;v=704b05b16ceb7f6b&amp;libs=core:setprefs&amp;parent=http://www.tfjm.org/accueil#up_scroll=no&amp;up_iframeURL=//www.facebook.com/plugins/likebox.php?href%3Dhttp%253A%252F%252Fwww.facebook.com%252FTFJM2%26width%3D300%26height%3D590%26colorscheme%3Dlight%26show_faces%3Dtrue%26header%3Dtrue%26stream%3Dtrue%26show_border%3Dtrue&amp;st=e%3DAIHE3cAXj5Z7SPw3KxpwcxTB68fsQv5SPVd7gwQkzyghSPegwSwnuBErNapuhGCQu4ZRFP0HypwAOXDZOizlubTkN4A2%252Fv4KMoYqsALAoAhHK4qM3b9W1LUJNgNsTnizYmlVUcH9Zah4%26c%3Denterprise&amp;rpctoken=-7274032421544838059"></iframe>
{% endblock %}
