/* GENERAL CONTEXT */
#forum
{
	width: 100%;
	margin: 30px 0 30px 0;
}
#forum a
{
	color: #C10000;
}

/* MESSAGE DISPLAY */

#message
{
	display: flex;
	flex-direction: row;
	background-color: #F2F1EC;
	box-shadow: 0px 2px 3px #1c1a19;
    border-radius: 10px;
    margin-bottom: 30px;
}
#message #infos
{
	text-align: center;
	margin: 10px;
	padding: 10px;
	padding-right: 30px;
	border-right: groove black 4px;
}
#message #infos a
{
	font-size: 1.6em;
	margin: 0;
	color: #C10000;
	text-align: center;
}
#message #infos a:hover
{
	color: #650A00;
}
#message #avatar img
{
	box-shadow: 0px 2px 3px #1c1a19;
	border-radius: 5px;
}
#message #avatar #admin
{
	background-color: #019428;
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 2px 3px #1c1a19;
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 2px;
}
#message #contenu
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 80%;
}
#message #contenu p
{
	margin: 10px;
	padding: 10px;
}
#message #contenu #infos_msg
{
	margin: 0 10px 0 10px;
	padding: 3px;
	font-style: italic;
	font-size: 0.9em;
	color: #515151;
	border-bottom: 1px black dashed;
	width: 95%;
}
#message #contenu #infos_msg a
{
	color: #515151;
}
#message #bouton_suppr
{
	margin: 10px;
}
#message #bouton_suppr a
{
	border: none;
	text-decoration: none;
}

/* TOPIC DISPLAY */

#forum #bouton_repondre
{
	box-shadow: 0px 2px 3px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    font-size: 1.3em;
    background-color: #019428;
    text-align: center;
    width: 90%;
}
#forum #bouton_repondre a
{
	color: white;
}

/* LIST-TOPIC DISPLAY */

#sujet
{
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #F2F1EC;
	border: solid black 1px;
    border-radius: 10px;
    margin-bottom: 1px;
    padding: 5px 15px 5px 15px;
    align-items: center;
}
#sujet:hover
{
	background-color: #C1C1C1;
}
#sujet #titre
{
	font-size: 1.2em;
	font-weight: bold;
	width: 40%;
}
#sujet #infos
{
	margin: 0 10px 0 10px;
}
#sujet #createur
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 60px;
}
#sujet #createur a
{
	margin-left: 3px;
	margin-right: 10px;
	color: #CC5500;
}
#sujet #createur a:hover
{
	text-decoration: none;
	color: blue;
	border: none;
}
#sujet #createur img
{
	border: solid black 1px;
}
#sujet #bouton_suppr a:hover
{
	text-decoration: none;
	border: none;
}
#forum #bouton_ajouter
{
	box-shadow: 0px 2px 3px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    font-size: 1.3em;
    background-color: #019428;
    text-align: center;
    width: 90%;
}
#forum #bouton_ajouter a
{
	color: white;
}

