{% extends "profils/squelette.html" %}

{% block article %}

<h1>Connection</h1>

{% if user.is_authenticated %}

	Vous êtes connecté, {{ user.username }} !

{% else %}

	<form method="post" action="/profil/connexion/">
	<fieldset>
		<legend>Connectez-vous</legend>
		{% csrf_token %}

		{{ form.as_p }}

		<input type="submit" value="Se connecter" />
		<p><a href="/profil/pass_reset/">Mot de passe oublié?</a></p>
	</fieldset>
	
	</form>
	
	{% if error %}

		<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
		
	{% endif %}

{% endif %}

{% endblock%}

