{% extends "profils/squelette.html" %}
{% load thumbnail %}
{% load humanize %}

{% block content %}
<div id="profil">
	<div id="fiche">
		<div id="avatar">
			{% if profil.img %}
			
				{% thumbnail profil.img 240x240 crop=True upscale as thumb %}	
				<img src="{{thumb.url}}" />
				
			{% else %}
	
				<img src='/static/img/profil_default.png'/>
		
			{% endif %}
			<p>Dernière connection {{ profil.user.last_login|naturaltime}}</p>
			<p>Utilisateur inscrit le {{ profil.user.date_joined }}</p>
		</div>
		
		<div id="fiche_infos">

			<div id="entree"><b>utilisateur :</b><br/> {{ profil.user.username }}</div>
			<div id="entree"><b>prénom :</b><br/> {{ profil.user.first_name }}</div>
			<div id="entree"><b>nom :</b><br/> {{ profil.user.last_name }}</div>
			<div id="entree"><b>Bio :</b>
				<div id="bio">{{ profil.bio }}</div>
			</div>

		</div>
	</div>
	
	<div id="bouton_maj"><a href="/profil/maj-profil/">Mettre à jour le profil</a></div>

</div>
{% endblock %}
